@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--font-body: "Montserrat", sans-serif;;
}

/* Slide Down */
.to-slide-down {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.slide-down {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Slide to original position */
}

/* Slide Up */
.to-slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.modal-to-slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.slide-up {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Slide to original position */
}

/* Slide Left */
.to-slide-left {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.slide-left {
  opacity: 1; /* Fully visible */
  transform: translateX(0); /* Slide to original position */
}

/* Slide Right */
.to-slide-right {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.slide-right {
  opacity: 1; /* Fully visible */
  transform: translateX(0); /* Slide to original position */
}

/* Fade in */
.to-fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1; /* Fully visible */
}


.box-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
}

